/*================= login - contact us ========================*/

.login-container,
.contact-us-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.Iam {
  padding-bottom: 2em;
  font: normal 40px/50px 'Poppins', sans-serif;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.form{
  max-width: 600px;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  

.form__section label
{
  display: block;
}

.form__section label{
  position: relative;
  top: 8px;
  left: 8px;
  background-color: #fff;
  width: max-content;
  cursor: pointer;
  z-index: 1;
}

.form__section-input{
  position: relative;
  z-index: 0;
}

.form__section-input input{
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid rgb(119, 119, 119);
  transition: .2s ease all;
}

.form__section-input input:focus,
.form__section textarea:focus{
  border: 2px solid rgb(240, 160, 41);
  outline: none;
  box-shadow: 3px 0px 15px  rgba(240, 160, 41, 0.753);
}

.form__section-error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
  padding-top: 8px;
}

.form__section-error-activo{
  display: block;
}

.from__validation-state{
  position: absolute;
  right: 10px;
  bottom: 12px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.form__section-textarea .from__validation-state {
  top: 10px;
}

.form__section textarea{
  width: 100%;
  height: 200px;
  min-height: 200px;
  padding: 10px 10px;
  resize: vertical;
  border: 1px solid rgb(119, 119, 119);
  transition: .2s ease all;
}

.form__section-warning{
  height: 40px;
  line-height: 40px;
  background-color: #e74d3c91;
  padding: 0 15px;
  display: none;
}

.form__section-warning-activo{
  display: block;
}

.form__section-btn-send{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.txt-exito{
  font-size: 14px;
  font-weight: 600;
  color: rgb(29, 141, 29);
  display: none;
}

.txt-exito-activo{
  display: block;
}

.form__section-correct .from__validation-state{
  color: #1ed12d;
  opacity: 1;
}

.form__section-incorrect .form__section label{
  color: #e74d3c91 !important;   /*  no funciona */
}

.form__section-incorrect .from__validation-state{
  color: #e74d3c91;
  opacity: 1;
}

.form__section-incorrect .form__section-input input,
.form__section-incorrect .form__section-input textarea{
  border: 2px solid #e74d3c91;
}


/*   checkbox */
/* .content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px; 
	display: block;
}


.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 0;
       top: 0;
}


.content-input input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 15px;
}

.content-input input[type=checkbox] + i:before{
	content: ''; 
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}

.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.content-input input[type=checkbox]:checked + i{
 background: #2AC176;
}

.content-input input[type=checkbox] + i:after{
	content: 'ON';
	position: absolute;
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	top: 8px;
	left: 4px;
	opacity: 0;
	transition: all 0.25s ease 0.25s;
}
 
.content-input input[type=checkbox]:checked + i:after{
 opacity: 1;
} */


.form__button {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 50px;
  height: 40px;
  background: #141414;
  color: rgb(240, 160, 41);
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s ease all;
  transition: 0s linear color;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.form__button span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 45%;
}

.form__button .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.form__button svg {
    color: #fff;
    width: 35px;
    height: 35px;
}

.form__button:hover {
    background: rgb(240, 160, 41);
    color: #fff;
}

.form__button:hover .icono {
    left: calc(100% - 50px);
    opacity: 1;
}

.form__button:hover span {
    left: 20px;
}

