:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    --marcado: rgb(240, 160, 41);
  }
  
/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
:root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
}
} */

.carrousel{
    width: 100%;
    max-width: 120em;
    max-width: calc(750px + 2em);
    overflow: hidden;
    
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    /* box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; */
}

.carrousel .grande{
    width: 400%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);

    transition: all .5s ease;

    /* animation: cambio 20s infinite alternate linear; */
    
    transform: translateX(0%);
}
/* 
@keyframes cambio{
    0%{transform: translateX(0%);}
    20%{transform: translateX(0%);}

    25%{transform: translateX(-25%);}
    45%{transform: translateX(-25%);}

    50%{transform: translateX(-50%);}
    70%{transform: translateX(-50%);}
    
    75%{transform: translateX(-75%);}
    100%{transform: translateX(-75%);}
} */

.carrousel .img{
    width: calc( 100% / 4);
    min-height: 10vh;

    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
}

.carrousel .puntos{
    width: 100%;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto{
    list-style: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
   
    margin: 0 .4em;
    cursor: pointer;

    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    background-color: rgb(212, 211, 211);
    box-shadow: 0.6em 0.6em 0.5em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo{
    background-color: var(--marcado);
}
